@model Vidly.ViewModels.CustomersViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customers.Count == 0)
{
    <text>No customers available.</text>
}
else
{

<table>
    <thead>
        <tr>
            <th>Customers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink("" + @customer.Id, "customerdetails/" + @customer.Id, "customers", new { area = "" }, new { @class = "href" })</td>
                <td>@Html.ActionLink("" + @customer.Name, "customerdetails/" + @customer.Id, "customers", new { area = "" }, new { @class = "href" })</td>
            </tr>
        }
     </tbody>

</table>
}

